/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ===== BASE STYLES ===== */

/*
  Setting type to a minor third modular scale
  http://www.modularscale.com/?18&px&1.2&web&text
*/


html {
  font-size: 1.125em; /* 18px */
  line-height: 1.222em; /* 22px = 1 gridline*/
  background-color: #EFE5BE;
  color: #222;
}

h1 {
  font-size: 1.728em; /* 31.104px */
  line-height: 1.415em; /* 44px @ 31.104px em */
}

p,
ul {
  padding-bottom: 1.222em; /* 22px */
}

li {
  padding-bottom: 0.611em; /* 11px = half gridline*/
}

li:last-child {
  padding-bottom: 0;
}

/* ===== LAYOUT STYLES ===== */

#page {
  padding: 1.222em 0.916em; /* 16.5px */
}

/* ===== MODULAR STYLES ===== */

.content ul {
  list-style-type: disc;
}
#secondary {
  color: #EFE5BE;
  background-color: #222;
}
/* ===== STATE STYLES ===== */

/* 775 @ 16px/em */
@media screen and (min-width: 48.4375em) {
  #page {
    margin: 0 25.42857143% 0 14.28571429%;
  }
}
@media screen and (min-width: 990px) {
  #page {
    margin: 0;
  }
  .content {
    position: relative;
  }
  #primary {
    width: 54%; /* 378px @ 700px */
  }
  #secondary {
    width: 39.71428571%; /* 278px @ 700px */
    position: absolute;
    top: 0;
    left: 57.14285714%;
  }
}


