/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* ===== BASE STYLES ===== */

/*
  Setting type to a major sixth (3:5) modular scale
  http://www.modularscale.com/?1&em&1.667&web&text
*/

html {
  font-size: 1.125em; /* 18px */
  line-height: 1.222em; /* 22px = 1 gridline*/
  padding-left: 6.6%; /* 33px / 500px 6.6%; */
  padding-right: 6.6%; /* 33px / 500px = 6.6%; */
}

h1 {
  font-size: 2.77em; /* 50.02px / 18px = 2.77em */
  line-height: 1.1em; /* 55px / 50.02px = 1.1em*/
}

h2 {
  font-size: 1.667em; /* 30.006px / 18 */
  line-height: 1.466em; /* 44 / 30.006 = 1.466 */
}

h3 {

}

p,
ul {
  padding-bottom: 1.222em;
}

li {

}

/* ===== MODULAR STYLES ===== */

.content ul {
  list-style-type: disc;
}

/* ===== STATE STYLES ===== */

/* 5:3 */
/*
5 + 3 = 8
500/8 = 62.5
5 * 62.5 = 312.5
3 * 62.5 = 187.5
*/
  html { padding: 0; }
  #primary {
    float: left;
    width: 62.5%; /* 312.5 / 500 = 62.5% */
  }
  #secondary {
    width: 37.5%; /* 187.5px / 500 = 37.5 */
    margin-left: 66.7%; /* 333.5px / 500 = 66.7% */
  }
